---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import { GradientTitle } from '../../../components/gradientTitle'
---

<BaseLayout title="Portugues" max="max-w-[60rem]">
  <div class="wrapper text-sm sm:px-12 sm:text-lg max-w-[65rem] mx-auto">
    <div class="one bg-base-200 p-2 font-bold">Semana 1</div>
    <div class="two bg-base-300 px-4 py-2">
      <div class="font-bold">Ejemplo de presentacion (1):</div>
       Meu nome é Julio Peres, sou casado, tenho um filho, moro na Argentina.
      Tenho formação na área de Comunicação e Publicidade, tenho conhecimentos
      em Programação Web e aplicativos com Python. Trabalho como professora de
      idiomas e conteúdos para aulas de idiomas. Meus objetivos são continuar
      preparando profissionais de diversas áreas na área de idiomas, com Inglês
      e Português, também com a criação de conteúdos interativos.
    </div>
    <div class="three bg-base-200 px-4 py-2">
      <div class="font-bold">Temas:</div>
      <div>
        * Abecedario: A, Be, Ce, De, E, Efi, Ye, Aga, I, Yota, Ka, Eli, Emi, Eni
      </div>
      <div>
        * Abecedario: O, Pe, Que, Eri, Esi, Te, U, Ve, Dabliu, Shis, ipsilon, Ze
      </div>
      <div>* Pronunciar Siglas</div>
      <div>* Como me apresentar em portugues de Brasil.</div>
      <div>* Verbos Ser y Estar</div>
      <div>* Como preparar el CV y las cartas de presentacion</div>
      <div>* Personas y Verbos</div>
      <div>* 1 al 100</div>
      <div></div>
    </div>
    <div class="four bg-base-200 p-2">
      <div class="font-bold">Ejemplo de presentacion (2):</div>
       Olá a todos, Meu nome é Francisco e estou aqui para compartilhar um pouco
      sobre mim. Me formei no bootcamp da Digital House, onde aprimorei minhas
      habilidades em programação. Durante o curso, tive a oportunidade de
      trabalhar com tecnologias como React e React Native, o que me permitiu
      desenvolver projetos interessantes. Tenho conhecimentos em várias
      linguagens e ferramentas, como Javascript, Node, MySQL, C# e Unity. Minha
      experiência está focada na área de frontend, onde trabalhei em projetos
      que me desafiaram a criar interfaces interativas e atrativas. Desenvolvi
      projetos significativos na área de frontend, o que me permitiu aprimorar
      minhas habilidades e entender melhor as necessidades dos usuários. Estou
      empolgado em continuar aprendendo e contribuindo com soluções criativas
      para desafios futuros. Muito obrigado.
    </div>
    <div class="five bg-base-300 p-2"><div class="font-bold">Siglas:</div>APT XYZ IOF PJ CLT DNZ THA ALB UBER HTML SQL GYJKL CFO CTO DW BMW</div>
    <div class="six bg-base-200 p-2">
      <div class="font-bold">Ejemplo de presentacion (3):</div>
       Sou Karin, tenho capacitado jovens e adultos para falar de maneira
      fluente Inglés , Portugues e Espanhol, ao longo de mais de 20 anos. Atendo
      profissionais de diversas áreas, desde Recursos Humanos, Engenharia,
      Contabilidade e Programação. Posso dizer que sou uma pessoa que gosta
      muito de aprender e estar em dia com as novas tecnologias, para poder
      oferecer as melhores ferramentas para meus alunos.
    </div>
    <div class="seven bg-base-300 p-2">
      <h4 class="font-bold">Expressoes chave (palabras claves):</h4>
      <ul>
        <li>Me formei no bootcamp de Digital House...</li>
        <li>Programei em React e React Native...</li>
        <li>Tenho conhecimentos em Javascript, Node, MySQL, C# e Unity...</li>
        <li>Tenho experiência na área de frontend...</li>
        <li>Desenvolvi projetos na área de frontend...</li>
        <li>Meus objetivos são...</li>
      </ul>
    </div>
  </div>
</BaseLayout>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 2 / 4;
    grid-row: 3;
  }
  .five {
    grid-column: 1 / 2;
    grid-row: 5;
  }
  .six {
    grid-column: 2 / 4;
    grid-row: 4;
  }
  .seven {
    grid-column: 2 / 4;
    grid-row: 5;
  }
</style>
