---
import BaseLayout from '../layouts/BaseLayout.astro'
import Title from '../components/title.astro'
import Button from '../components/button.astro'
import { GradientTitle } from '../components/gradientTitle'
import Hero from '../components/home/hero.astro'
import HeroGrid from '../components/heroGrid.astro'
import HeroGridUnit from '../components/heroGridUnit.astro'
const image = '/games/tetris.jpg'
const imageDefault = '/webapp/logo-grande.png'
import VetCareHeroe from '../components/heroes/vetcare'
---

<BaseLayout title="Webapp" max="max-w-[60rem]" auth="true">
  <Hero />

  <div class="hero items-start max-w-[60rem] m-auto">
    <div class="hero-content text-start">
      <div>
        <div class="mt-16 md:mt-0"></div>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
          Contenido
        </h2>
        <p class="text-lg mt-4 text-slate-500 text-balance max-w-xl">
          Navega por las diferentes secciones
        </p>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-12 gap-16">
          <HeroGridUnit
            title="Apps y Prototipos"
            description="Apps y prototipos creados con Astro, Tailwind y React. Una API propia creada con Node y MySQL enriquese el frontend con información"
          >
            <Button to="mercado">Mercado App</Button>
            <Button to="singer">Singer App</Button>
            <Button to="choices">Choices App</Button>
            <Button to="games/tortutetris">Tortutetris Game</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Curso de Portugues"
            description="Resumenes y ejercicios sobre el idioma portugues. Información obtenida durante mi cursas de Portugues Urgente en 'No Country'"
          >
            <Button to="portugues/week1">Semana 1</Button>
            <Button to="portugues/week2">Semana 2</Button>
            <Button to="portugues/week3">Semana 3</Button>
            <Button to="portugues/week4">Semana 4</Button>
            <Button to="portugues/week5">Semana 5</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Componentes y Ejemplos"
            description="Componentes en los que estoy trabajando. La idea es agregar muchos componentes reutilizables aqui"
          >
            <Button to="examples/login">Login</Button>
            <Button to="examples/login-code">Login Code</Button>
            <Button to="examples/register">Register</Button>
            <Button to="examples/grid">Grid</Button>
            <Button to="examples/hero-vetcare">Hero VetCare</Button>
            <Button to="examples/carousel-vetcare">Carousel</Button>
            <Button to="examples/calendar-vetcare">Calendar</Button>
            <Button to="examples/onboarding">Onboarding</Button>
            <Button to="examples/pixi">Pixi Example</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Tensorflow.js"
            description="Cosas relacionadas con la programacion web y Tensorflow. Mientras realizo un curso de Tensorflow.js voy a ir agregando mas ejemplos"
          >
            <Button to="tensorflow/toxicity">Toxicity Classifier</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Calculadora"
            description="Diferentes calculadoras muy útiles en medicina"
          >
            <Button to="medicine/calcs/clearence">
              Clearence de Creatinina
            </Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Clases y Cursos"
            description="Clases de programacion web y medicina en las que participé"
          >
            <Button to="medicine/diseases/triquinosis">Triquinosis</Button>
            <Button to="javascript/arrays">Arrays</Button>
          </HeroGridUnit>
        </div>
      </div>
    </div>
  </div>
  <div class="max-w-[60rem] m-auto px-4">
    <div class="mt-2 md:mt-24"></div>
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Recomendados
    </h2>
    <p class="text-lg mt-4 text-slate-500 text-balance max-w-xl">
      Navega por estas secciones recomendadas
    </p>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-12 gap-16">
      <HeroGridUnit
        title="Tortutetris"
        description="Versión del clásico juego de piezas llamado Tetris, creado en 1985 por Alexey Pajitnov, un ingeniero de software Sovietico"
      >
        <div class="w-full bg-base-300 text-center p-2">
          <img src={image} class="w-[0%] md:w-[50%] md:shadow-lg mx-auto" />
          <Button to="games/tortutetris">Tortutetris</Button>
        </div>
      </HeroGridUnit>
      <HeroGridUnit
        title="Mercado App"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis fugiat laudantium alias nam nesciunt molestias numquam"
      >
        <div class="w-full bg-base-300 text-center p-2">
          <img
            src={imageDefault}
            class="w-[0%] md:w-[50%] md:shadow-lg md:mt-4 mx-auto"
          />
          <Button to="mercado">Mercado App</Button>
        </div>
      </HeroGridUnit>
      <HeroGridUnit
        title="Singer App"
        description="App sobre una artista. Utiliza Web Transitions. Es un sitio para mostrar datos de un artista y el calendario de sus shows"
      >
        <div class="w-full bg-base-300 text-center p-2">
          <img
            src={imageDefault}
            class="w-[0%] md:w-[50%] md:shadow-lg md:mt-4 mx-auto"
          />
          <Button to="singer">Singer App</Button>
        </div>
      </HeroGridUnit>
      <HeroGridUnit
        title="Multiple Choices de Medicina"
        description="Practica exámenes de residencias médicas de Argentina, México, Perú y España. Tienes mas de 6000 preguntas disponibles en nuetras extensa base de datos."
      >
        <div class="w-full bg-base-300 text-center p-2">
          <img
            src={imageDefault}
            class="w-[0%] md:w-[50%] md:shadow-lg md:mt-4 mx-auto"
          />
          <Button to="choices">Multiple Choice</Button>
        </div>
      </HeroGridUnit>
    </div>
  </div>
  <div class="max-w-[60rem] m-auto mt-16 px-4">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Componentes Reutilizables
    </h2>
  </div>
  <VetCareHeroe />
</BaseLayout>
