---
const { link, logo, title } = Astro.props
import Menu from './verticalMenu.astro'
---

<div class="navbar-start">
  <div class="dropdown">
    <label tabindex="0" class="btn btn-ghost lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h8m-8 6h16"></path></svg
      >
    </label>
    <ul
      class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
    >
      <Menu />
    </ul>
  </div>
  <a class="w-0 md:w-16" href={link ?? '/'}>
    <img src={logo ?? '/webapp/logo.png'} alt="logo" />
  </a>
  <a class="btn btn-ghost normal-case text-xl" href={link ?? '/'}>{title}</a>
</div>
