<li>
  <a>Themes</a>
  <ul class="p-2">
    <li><button class="theme" name="dark">Oscuro</button></li>
    <li><button class="theme" name="light">Claro</button></li>
    <li><button class="theme" name="cupcake">Cupcake</button></li>
    <li><button class="theme" name="cyberpunk">Cyberpunk</button></li>
  </ul>
</li>
<li>
  <a>Fonts</a>
  <ul>
    <li><button class="font" name="font-sans">Sans</button></li>
    <li><button class="font" name="font-serif">Serif</button></li>
    <li><button class="font" name="font-mono">Mono</button></li>
    <li><button class="font" name="font-roboto">Roboto</button></li>
    <li><button class="font" name="font-lato">Lato</button></li>
    <li><button class="font" name="font-montserrat">Montserrat</button></li>
    <li><button class="font" name="font-open-sans">Open Sans</button></li>
  </ul>
</li>
