---
const { arreglo, title } = Astro.props
var newArray: any[] = []
if (arreglo && typeof arreglo[Symbol.iterator] === 'function') {
  arreglo.forEach((item: any) => newArray.push(item))
  console.log(newArray)
} else {
  console.log('La constante no es válida para usar map().')
}
---

<div>{newArray.map((item) => <div>{title}: {item}</div>)}</div>
