---
const { to, big, notPrimary, outline } = Astro.props
---

<a class:list={['btn btn-sm mt-4 mr-2', notPrimary || 'btn-primary', big && 'btn-md', outline && 'btn-outline' ]} href={to}>
  <slot />
</a>