---
import EmptyLayout from '../../layouts/EmptyLayout.astro'
import Team from '../../components/carrousel/team'

const results = [
  {
    id: '65257fdb84a825a841323454',
    title: 'Miguel A. Velasquez',
    speciality: 'Veterinaria Clinica',
    src: 'https://res.cloudinary.com/dxq0pypxu/image/upload/v1697674873/12_tle6ez.png',
    button: 'Pedir Cita',
  },
  {
    id: '6528cc704d4f663f63ce38a4',
    title: 'María J. González',
    speciality: 'Veterinaria Clinica',
    src: 'https://res.cloudinary.com/dxq0pypxu/image/upload/v1697674873/15_nwojnr.png',
    button: 'Pedir Cita',
  },
  {
    id: '65306159ea6ccf98ad0282fe',
    title: 'Cathy J. Gomez',
    speciality: 'Veterinaria Clinica',
    src: 'https://res.cloudinary.com/dxq0pypxu/image/upload/v1697674873/13_dgijzm.png',
    button: 'Pedir Cita',
  },
  {
    id: '6530616eea6ccf98ad028302',
    title: 'Velma S. Barry',
    speciality: 'Veterinario Cardiologo',
    src: 'https://res.cloudinary.com/dxq0pypxu/image/upload/v1697674873/14_kfke4n.png',
    button: 'Pedir Cita',
  },
  {
    id: '65306177ea6ccf98ad028304',
    title: 'Carol C. Queen',
    speciality: 'Veterinaria Nutricionista',
    src: 'https://res.cloudinary.com/dxq0pypxu/image/upload/v1697674873/6_kkfn5w.png',
    button: 'Pedir Cita',
  },
  {
    id: '65306187ea6ccf98ad028306',
    title: 'Julie K. Rusella',
    speciality: 'Veterinaria Clinica',
    src: 'https://res.cloudinary.com/dxq0pypxu/image/upload/v1697674872/4_bnmjza.png',
    button: 'Pedir Cita',
  },
  {
    id: '65306bef24f577a26f63ca15',
    title: 'Daniel S. Martinez',
    speciality: 'Veterinario Cirujano',
    src: 'https://res.cloudinary.com/dxq0pypxu/image/upload/v1697674873/11_ucfyhu.png',
    button: 'Pedir Cita',
  },
  {
    id: '65306c0124f577a26f63ca17',
    title: 'Lucia M. Rodríguez',
    speciality: 'Veterinaria Dermatóloga',
    src: 'https://res.cloudinary.com/dxq0pypxu/image/upload/v1697674872/8_bxycre.png',
    button: 'Pedir Cita',
  },
  {
    id: '653070ee24f577a26f63ca1d',
    title: 'Carlos A. Pérez',
    speciality: 'Veterinario Oftalmólogo',
    src: 'https://res.cloudinary.com/dxq0pypxu/image/upload/v1697674873/10_kv5fxe.png',
    button: 'Pedir Cita',
  },
  {
    id: '653070fa24f577a26f63ca1f',
    title: 'Sofia R. Vargas',
    speciality: 'Veterinaria Nutricionista',
    src: 'https://res.cloudinary.com/dxq0pypxu/image/upload/v1697674872/4_bnmjza.png',
    button: 'Pedir Cita',
  },
]
---

<EmptyLayout title="Webapp" max="max-w-[90rem]">
  <div>
    <div>
      <h1 class="font-bold text-4xl text-center p-4 mt-8 brightness-90">
        Component Carousel
      </h1>
      <div class="flex justify-center max-w-[90rem] brightness-90">
        <Team client:only vets={results} />
      </div>
    </div>
  </div>
</EmptyLayout>
