---
import BaseLayout from '../../layouts/BaseLayout.astro'
import MyGrid from '../../components/grid.astro'
---

<BaseLayout title="Webapp" max="max-w-[73rem]">
  <div class="text-sm sm:px-12 sm:text-lg">
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti rem
      minima quod temporibus possimus molestiae atque sapiente? Harum nesciunt
      sit expedita obcaecati odio non? Perspiciatis est nam sed obcaecati
      consequatur!
    </div>
    <br />
    <MyGrid />
    <br />
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti rem
      minima quod temporibus possimus molestiae atque sapiente? Harum nesciunt
      sit expedita obcaecati odio non? Perspiciatis est nam sed obcaecati
      consequatur!
    </div>
  </div>
</BaseLayout>
