---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { GradientTitle } from '../../components/gradientTitle'
import { RegisterJSX } from '../../components/register/register'
---

<BaseLayout title="Webapp" max="max-w-[73rem]">
  <div class="">
    <div class="grid grid-cols-1 grid-rows-1 items-start min-h-full p-8">
      <div class="flex flex-col justify-center items-center">
        <GradientTitle
          client:only
          withColor={'Register Test'}
          withoutColor={''}
        />
        <RegisterJSX />
      </div>
    </div>
  </div>
</BaseLayout>