---
import BaseLayout from '../../../layouts/BaseLayout.astro'
---

<BaseLayout title="Portugues" max="max-w-[60rem]">
  <div
    class="wrapper text-sm sm:px-12 sm:text-lg max-w-[65rem] mx-auto text-center"
  >
    <h1>Exemplos de Frases no Passado</h1>
    <br />
    <div class="font-bold">Pretérito Perfeito</div>
    <div>Ela plantou uma flor.</div>
    <br />
    <div class="font-bold">Pretérito Perfeito</div>
    <div>A flor foi plantada por ela.</div>
    <br />
    <div class="font-bold">Pretérito Imperfeito</div>
    <div>
      Ele caminhava tranquilamente pelo parque, apreciando a natureza ao seu
      redor.
    </div>
    <br />
    <div class="font-bold">Pretérito Imperfeito</div>
    <div>A grama foi cortada pelo rapaz.</div>
    <br />
    <div class="font-bold">Pretérito Imperfeito</div>
    <div>O homem ficava detido pelos policiais.</div>
    <br />
    <div class="font-bold">Pretérito Imperfeito</div>
    <div>O bufê preparava a comida.</div>
    <br />
    <div class="font-bold">Pretérito Imperfeito</div>
    <div>A comida vinha preparada pelo bufê.</div>
  </div>
</BaseLayout>
