---
import BaseLayout from '../../../layouts/BaseTransitioned.astro'
import Button from '../../../components/button.astro'
import HeroGridUnit from '../../../components/heroGridUnit.astro'
---

<BaseLayout title="Singer" link="/singer" logo="/choices/logo.png">
  <div class="hero items-start">
    <div class="hero-content text-start">
      <div>
        <div class="mt-16 md:mt-0"></div>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
          Calendario
        </h2>
        <p class="text-lg mt-4 text-slate-500 text-balance max-w-xl">
          Conoce mis proximas presentaciones
        </p>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-12 gap-16">
          <HeroGridUnit
            title="Presentaciones"            
            description="Lorem ipsum dolor sit amet consectetur adipisicing elit. A, nam. Soluta aspernatur eveniet, expedita molestias optio earum adipisci nulla culpa maiores accusamus! In reprehenderit nisi voluptates cumque dolores quaerat aperiam"
          >
            <Button to="">Reservar</Button>
          </HeroGridUnit>         
        </div>
      </div>
    </div>
  </div>
  <div></div>
</BaseLayout>
