---
import '../global.css'
const { title, link, logo } = Astro.props
import Navbar from '../components/navbar/navbar.astro'
import Footer from '../components/footer.astro'
import { ViewTransitions } from 'astro:transitions'
---

<html lang="en" class="bg-base-100" data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body tabindex="0">
    <div class="flex flex-col items-center justify-center">
      <div class="max-w-[80rem] mx-4">
        <Navbar title={title} link={link} logo={logo} />
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>
