---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Title from '../../components/title.astro'
import Button from '../../components/button.astro'
import { GradientTitle } from '../../components/gradientTitle'
import Hero from '../../components/home/hero-choices.astro'
import HeroGrid from '../../components/heroGrid.astro'
import HeroGridUnit from '../../components/heroGridUnit.astro'

const linkURL = '/choices'
const logoURL = '/choices/logo.png'
const titleGrid = 'Nuestros Exámenes'
const subtitleGrid =
  'Exámenes de Argentina (Municipal, Provincial, Unico), de España (MIR), de México (ENARM) y Perú (Unico):'
---

<BaseLayout
  title="Choices App"
  link={linkURL}
  logo={logoURL}
  max="max-w-[60rem]"
>
  <div class="max-w-[60rem] m-auto">
    <Hero />
  </div>

  <div class="hero items-start">
    <div class="hero-content text-start">
      <div class="max-w-[60rem] m-auto">
        <div class="mt-16 md:mt-0"></div>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
          {titleGrid}
        </h2>
        <p class="text-lg mt-4 text-slate-500 text-balance max-w-xl">
          {subtitleGrid}
        </p>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-12 gap-16">          
          <HeroGridUnit
            title="Municipalidad CABA, Argentina"
            description="Nuestro listado de exámenes de CABA, organizados por año, Argentina"
          >
            <Button to="/choices/examenes/municipal/2002">2002</Button>
            <Button to="/choices/examenes/municipal/2003">2003</Button>
            <Button to="/choices/examenes/municipal/2004">2004</Button>
            <Button to="/choices/examenes/municipal/2005">2005</Button>
            <Button to="/choices/examenes/municipal/2006">2006</Button>
            <Button to="/choices/examenes/municipal/2007">2007</Button>
            <Button to="/choices/examenes/municipal/2008">2008</Button>
            <Button to="/choices/examenes/municipal/2009">2009</Button>
            <Button to="/choices/examenes/municipal/2010">2010</Button>
            <Button to="/choices/examenes/municipal/2011">2011</Button>
            <Button to="/choices/examenes/municipal/2012">2012</Button>
            <Button to="/choices/examenes/municipal/2013">2013</Button>
            <Button to="/choices/examenes/municipal/2014">2014</Button>
            <Button to="/choices/examenes/municipal/2015">2015</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Pediátricos, Municipalidad CABA, Argentina"
            description="Nuestro listado de exámenes pediátricos de CABA, organizados por año, Argentina"
          >
            <Button to="/choices/examenes/pediatricos/2008">2008</Button>
            <Button to="/choices/examenes/pediatricos/2009">2009</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Provincia de Buenos Aires, Argentina"
            description="Nuestro listado de exámenes, organizados por año, de Provincia de Buenos Aires, Republica Argentina"
          >
            <Button to="/choices/examenes/provincial/2007">2007</Button>
            <Button to="/choices/examenes/provincial/2008">2008</Button>
            <Button to="/choices/examenes/provincial/2009">2009</Button>
            <Button to="/choices/examenes/provincial/2010">2010</Button>
            <Button to="/choices/examenes/provincial/2011">2011</Button>
            <Button to="/choices/examenes/provincial/2012">2012</Button>
            <Button to="/choices/examenes/provincial/2013">2013</Button>
            <Button to="/choices/examenes/provincial/2014">2014</Button>
            <Button to="/choices/examenes/provincial/2015">2015</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Examen de Argentina, Examen Único"
            description="Nuestro listado de exámenes únicos, organizados por año, de Argentina"
          >
            <Button to="/choices/examenes/unico/2014">2014</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Exámenes de Mexico - ENARM"
            description="Nuestro listado de exámenes, organizados por año, tipo ENARM de México"
          >
            <Button to="/choices/examenes/enarm/2003">2003</Button>
            <Button to="/choices/examenes/enarm/2004">2004</Button>
            <Button to="/choices/examenes/enarm/2005">2005</Button>
            <Button to="/choices/examenes/enarm/2006">2006</Button>
            <Button to="/choices/examenes/enarm/2007">2007</Button>
            <Button to="/choices/examenes/enarm/2008">2008</Button>
            <Button to="/choices/examenes/enarm/2009">2009</Button>
            <Button to="/choices/examenes/enarm/2010">2010</Button>
            <Button to="/choices/examenes/enarm/2011">2011</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Exámenes de España - MIR"
            description="Nuestro listado de exámenes MIR de España"
          >
            <Button to="/choices/examenes/mir/2007">2007</Button>
            <Button to="/choices/examenes/mir/2008">2008</Button>
            <Button to="/choices/examenes/mir/2009">2009</Button>
            <Button to="/choices/examenes/mir/2010">2010</Button>
            <Button to="/choices/examenes/mir/2011">2011</Button>
            <Button to="/choices/examenes/mir/2012">2012</Button>
            <Button to="/choices/examenes/mir/2013">2013</Button>
            <Button to="/choices/examenes/mir/2014">2014</Button>
          </HeroGridUnit>
          <HeroGridUnit
            title="Exámenes de Perú - Examen Único"
            description="Nuestro listado de exámenes, organizados por año, tipo Único de Perú"
          >
            <Button to="/choices/examenes/peru/2013">2013</Button>
            <Button to="/choices/examenes/peru/2014">2014</Button>
          </HeroGridUnit>
        </div>
      </div>
    </div>
  </div>
  <div class="hero items-start mt-16">
    <div class="hero-content text-start">
      <div class="max-w-[60rem] m-auto">
        <div class="mt-16 md:mt-0"></div>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
          Buscador de Preguntas
        </h2>
        <p class="text-lg mt-4 text-slate-500 text-balance max-w-xl">
          Usa palabras claves para navegar nuestro banco de preguntas
        </p>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-12 gap-16">
          <HeroGridUnit
            title="Buscador"
            description="Escribe una palabra clave para buscar algun tema especifico. Por ejemplo: 'VDRL'"
          >
            <div class="form-control mt-4">
              <input
                type="text"
                placeholder="Buscar..."
                class="input input-bordered w-24 md:w-auto"
              />
            </div>
            <Button to="/choices/nosotros">Buscar</Button>
          </HeroGridUnit>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
